[Desktop Entry]
Encoding=UTF-8
Name=Pimp Enqueue
Comment=To add songs to current playlist in pimp via mpc
Type=Application
Exec=pimpc.sh 6600 add 
MimeType=audio/x-flac;audio/mpeg;application/ogg;inode/directory
Icon=/usr/share/icons/gnome/scalable/mimetypes/audio-x-generic-symbolic.svg
Terminal=false
Categories=GNOME;Application;Development;
StartupNotify=false
